.taskWrapper {
  display: flex;
  justify-content: center;
}

.taskWrapper p,
.taskWrapper h1 {
  margin-left: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  background-image: linear-gradient(to top, #fff, #dde3ee);
  margin-left: 2em;
  margin-right: 2em;
  box-shadow: 0 0.07em 0.2em rgb(0 0 0 / 25%);
  border-radius: 8px;
}

.navWrapper {
  display: flex;
  justify-content: center;
}
