.header {
  background-image: linear-gradient(to top, #152531, #434c51, #152531);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d1f0ce;
  margin-left: 2em;
}

.userInfoContainer p {
  margin-left: 1em;
}

.userIcon {
  height: 30px;
}

.button {
  color: #000;
  background-color: #faf6f6;
  border-color: #faf6f6;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 5px;
}

.finish {
  width: 10em;
}
