body {
  font-family: helvetica, sans-serif;
  background-color: #e0e6f0;
}

/* header */

.header {
  background-image: linear-gradient(to top, #152531, #434c51, #152531);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerUserInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d1f0ce;
  margin-left: 2em;
}

.headerUserInfoContainer p {
  margin-left: 1em;
}

.userIcon {
  height: 30px;
}

.HeaderButtonContainer {
  margin-right: 20px;
}

.headerButton {
  color: #000;
  background-color: #faf6f6;
  border-color: #faf6f6;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 5px;
}

.headerButton:first-child {
  width: 10em;
}

/* clock */

.timerContainer {
  display: flex;
  color: #d1f0ce;
}

.clockIcon {
  width: 30px;
  margin-right: 1em;
}

/* task header */

.taskHeader {
  width: 90%;
  border-radius: 13px;
  background-color: white;
  margin-top: 2em;
  box-shadow: 0 0.0714em 0.214em rgb(0 0 0 / 25%);

}

.taskContainer {
  display: flex;
  justify-content: center;
}

.taskContainer p,
.taskContainer h1 {
  margin-left: 2rem;
}

/* task box */

.taskFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 13px;
  background-image: linear-gradient(to top, #fff, #dde3ee);
  margin: 0 2em;
}

.taskFile img {
  width: 35em;
}

.taskFileAndForm {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  background-image: linear-gradient(to top, #fff, #dde3ee);
  margin-left: 2em;
  margin-right: 2em;
  box-shadow: 0 0.0714em 0.214em rgb(0 0 0 / 25%);
  border-radius: 8px;

  /* width:80% */
}

.taskForm {
  margin: 0 2em;
}

/* nav */

.navFlexContainer {
  display: flex;
  justify-content: center;
}

.navigationContainer {
  width: 60%;
  display: flex;
  box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
  border-radius: 8px;
  padding: 0px 10px;
  margin: 10px 0;
  font-weight: 700;
}

.navigationButtonContainer {
  display: flex;
  align-items: center;
  flex-flow: row;
}

.navigationButton {
  height: 35px;
  width: 35px;
  border: none;
  padding: 0;
  background-color: #565656;
  border-radius: 0.25rem;
  margin-left: 0.5em;
  margin-right: 1em;
  font-weight: bolder;
  color: white;
}

button:hover {
  cursor: pointer;
}
