body {
  font-family: helvetica, sans-serif;
  background-color: #e0e6f0;
}


.taskWrapper {
  display: flex;
  justify-content: center;
}

.taskWrapper p,
.taskWrapper h1 {
  margin-left: 2rem;
}


/* clock */

.timerContainer {
  display: flex;
  color: #d1f0ce;
}

.clockIcon {
  width: 30px;
  margin-right: 1em;
}

/* task header */

.taskHeader {
  width: 90%;
  border-radius: 13px;
  background-color: white;
  margin-top: 2em;
  box-shadow: 0 0.0714em 0.214em rgb(0 0 0 / 25%);
}

.taskFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 13px;
  background-image: linear-gradient(to top, #fff, #dde3ee);
  margin: 0 2em;
  min-width: 40%;
  max-width: 40%;
}

.taskFile img {
  max-width: 35em;
}

.taskForm {
  margin: 0 2em;
  min-width: 45%;
}

.textarea {
  display: block;
  min-width: 100%;
  min-height: 600px;
  margin: 1em 0;
}

/* nav */


button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

iframe {
  width: 100%;
  height: 100vh;
}
